<div class="container">
  <h3>Atributos: </h3>
  <div class="row">
    <div class="col-sm-4" >
      <ul>
        <li>
          Nombre {{autos.nombres}}
        </li>
        <li>
          Apellido  {{autos.apellidos}}
        </li>
        <li>
          Fecha de nacimiento: {{autos.fechaNacimiento}}
        </li>
      </ul>

    </div>
    <div class="col-sm-3">
      <ul>
        <li>
          Licencia Valida: {{autos.licenciaValida}}
        </li>
        <li>
         id: {{autos.id}}
        </li>
        <li>
          Numero autos:  {{autos.numeroAutos}}
        </li>
      </ul>
    </div>
    <div class="col-sm-5">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBh3XIiP1ZsQu-D8mRqW0xIn2Pobx9Il8D0GOUCzTuBmId5WyG" alt="" style="height: 200px; width: 300px">
    </div>
  </div>
</div>
