<div class="container">
  <h3>Datos de la cuenta</h3>
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="nombre">-</span>
            </div>
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="nombre"
                   name="nombre" [(ngModel)]="nombre" #nombreFormulario="ngModel" >
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="apellido">-</span>
            </div>
            <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" aria-describedby="apellido" name="apellido" [(ngModel)]="apellido" #apellidoFormulario="ngModel">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="correo">-</span>
            </div>
            <input type="text" class="form-control" placeholder="Correo" aria-label="Correo" aria-describedby="correo"
                   name="correo" [(ngModel)]="correo" #correoFormulario="ngModel">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <button type="button" class="btn btn-secondary" (click)="completarOrden()">Completar la orden</button>
    </div>
  </div>
</div>


<div class="container">
  <h3>Datos de la facturacion</h3>
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          Nombre: {{nombre}}
        </div>
        <div class="col-sm-4">
        Apellido: {{apellido}}
        </div>
        <div class="col-sm-4">
         Correo: {{correo}}
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Editar Datos Facturacion</button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombreEditar" class="col-form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreEditar"
                   name="nombreEditar" [(ngModel)]="nombreEditar" #nombreEditarFormulario="ngModel">
          </div>
          <div class="form-group">
            <label for="apellidoEditar" class="col-form-label">Apellido</label>
            <input class="form-control" id="apellidoEditar"
                   name="apellidoEditar" [(ngModel)]="apellidoEditar" #apellidoFormulario="ngModel">
          </div>
          <div class="form-group">
            <label for="correoEditar" class="col-form-label">Correo</label>
            <input class="form-control" id="correoEditar"
                   name="correoEditar" [(ngModel)]="correoEditar" #correoEditarFormulario="ngModel">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="guardar()">Finalizar</button>
      </div>
    </div>
  </div>
</div>

<app-info-modelo *ngIf="visible"></app-info-modelo>
<button type="button" (click)="eliminar()" *ngIf="visible" class="btn btn-primary"> Eliminar</button>
<h3>TOTAL: $ {{total}}</h3>
